/* .custom-button {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-color: #ff4fcf;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 79, 207, 0.2);
}

.custom-button:hover {
  background-color: #e048b8;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(255, 79, 207, 0.3);
} */

.custom-button {
  background-color: var(--color-dark-blue);
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: var(--color-yellow);
  transform: scale(1.05);
}

.custom-button:disabled {
  background-color: #e0e0e0;
  color: #999999;
  cursor: not-allowed;
  box-shadow: none;
}

.hero-banner-button {
  background-color: #1b1c3e;
  color: #ffffff;
}

.hero-banner-button:hover {
  background-color: #333a59;
  transform: scale(1.05);
}

.custom-button {
  animation: fadeInUp 1s ease 0.3s both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}