:root {
    --color-dark-blue: #636dc7;
    --color-light-blue: #6cafe2;
    --color-sea-green: #76cdac;
    --color-yellow: #fbb739;
    --color-pink: #faa09e;
    --text-color: #373636;
    --nav-bg: #ffffff;
}

.hero-section {
    background: var(--nav-bg);
    padding-top: 10px;
    padding-bottom: -10px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    color: var(--text-color);
}

.Heading1 {
    color: var(--color-dark-blue);
    font-size: 48px;
}

.Heading2 {
    color: var(--color-yellow);
    font-size: 78px;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
    padding: 0 34px;
    text-align: center;
}


.hero-image {
    max-width: 100%;
    height: auto;
    margin-top: 60px;
    /* Increased spacing between text and image */
}

.button {
    margin-top: 20px;
}