.hero-section {
    background-image: url('../assets/layered-waves-haikei.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 100px;

}

.white-text {
    color: #ffffff;
}

.pink-text {
    color: #ff4fcf;
}

.hero-subtext {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto 30px;
}

.hero-button {
    background-color: #ffffff;
    border: none;
    padding: 12px 28px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 16px;
    color: #ff4fcf;
    transition: all 0.3s ease;
}

.hero-button:hover {
    transform: scale(1.05);
    background-color: #ffe6f4;
}